.content-wrapper {
  margin: 24px 16px 0;
}
.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
  padding: 24;
  min-height: 100vh;
}

.video-player-modal {
  transition: all 1s;
  background-color: #40a9ff17;
  backdrop-filter: blur(5px) brightness(1.3);
}

.search-video-category-select {
  width: 70%;
  text-align: left;
}